:root {
  --main-color: #96775f;
  --main-color-bold: #403329;
  --main-color-secondary: #e3b18a;
  --main-color-light: #ffd4b3;

  --darkness-color: #353535;
  --darkness-color-secondary: #d7d7d7;
  --darkness-color-light: #f5f5f5;

}



/* main nav----------------------------------------------------------------------- */


.head-nav {
  background-color: var(--main-color-secondary);
}

.head-nav a {
  font-size: 0.8em;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  text-decoration: none;
  color: var(--main-color-bold);
}

.head-nav a:hover {
  transition: 0.2s;
  color: var(--main-color-light);
  background-color: var(--main-color);
}

.head-nav .active {
  transition: 0.2s;
  color: var(--main-color-light);
  background-color: var(--main-color);
}

.main-nav {
  padding: 0.8rem 1rem 0.8rem 1rem;
}

.main-nav a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  color: rgb(99, 99, 99);
}

.main-nav .nav-item.dropdown a:hover {
  color: var(--main-color-dark);
}

.main-nav .nav-item.dropdown a:focus {
  color: var(--main-color-dark);
}

.main-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  transition: 0.2s;
  background-color: var(--main-color-light);
}

.main-nav .nav-item.dropdown .dropdown-menu .dropdown-item:active {
  background-color: var(--main-color-light);
}

.main-ribbon {
  --bs-tooltip-bg: var(--main-color-light);
  --bs-tooltip-color: var(--main-color-bold);
}

/* tutup main nav------------------------------------------------------------------- */

/* navigate mobile------------------------------------------------------------------ */

.offcanvas-body {
  padding: 0;
}

.offcanvas-body .list-group .list-group-item {
  /* border: none; */
  border-radius: 0;
  font-size: 1.2em;
  padding: 1rem;
  border-top: 1px solid var(--darkness-color-secondary);
  border-bottom: 1px solid var(--darkness-color-secondary);
  margin-bottom: -1px;
}

.offcanvas-body .list-group .list-group-item:hover {
  transition: 0.2s;
  background-color: var(--darkness-color-light);
  color: var(--darkness-color);
  /* border-top: 1px solid var(--darkness-color);
  border-bottom: 1px solid var(--darkness-color); */
}

.offcanvas-body .list-group .list-group-item:focus {
  background-color: var(--darkness-color-light);
  color: var(--darkness-color);
  border-top: 1px solid var(--darkness-color-secondary);
  border-bottom: 1px solid var(--darkness-color-secondary);
}

.offcanvas-body .list-group .active-list {
  background-color: var(--darkness-color-light);
  color: var(--darkness-color);
}

.offcanvas-body .list-group.sub .active-list {
  background-color: var(--darkness-color-light);
  color: var(--darkness-color);
}

.offcanvas-body .list-group.sub .list-group-item {

  padding: 1rem 2rem 1rem 2rem;

}




/* end navigate -------------------------------------------------------------------- */




/* navigate user ----------------------------------------------------------- */
.sidebar {
  position: fixed;
}

.sidebar .body {
  background-color: white;
  padding: 2rem 0.8rem 1rem 0.8rem;
  border-radius: 0.5rem;
  position: relative;
  width: 20rem;
}

.sidebar .body .ribbon {
  border-radius: 0.5rem;
  position: absolute;
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  top: -1rem;
  left: 0;
}

.sidebar .body .list {
  padding: 0;
}

.sidebar .body .list li {
  list-style: none;
}

.sidebar .body .list li a {
  color: rgb(150, 150, 150);
  border-radius: 0.5rem;
  width: 100%;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
}

.sidebar .body .list li a:hover {
  transition: 0.2s;
  background-color: rgb(228, 228, 228);
  color: rgb(66, 66, 66);
}

.sidebar .body .list li .active {
  transition: 0.2s;
  background-color: rgb(228, 228, 228);
  color: rgb(66, 66, 66);
}

/* tutup navigate user ------------------------------------------------------ */




/* footer ---------------------------------------------------------------------------*/
.footer-content {
  padding: 2rem 0.5rem 1rem 0.5rem;
  background-color: var(--main-color-bold);
  color: var(--main-color-light);
}

/* tutup footer ---------------------------------------------------------------------*/

/* main page ------------------------------------------------------------------------ */
/* head content */
.head-content {
  width: 100%;
  background-color: var(--main-color);
  margin-bottom: 15rem;
  height: 30rem;
  position: relative;
}

.head-content .child-content {
  width: 70%;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}

.head-content .child-content .carousel-content {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
}

.head-content .child-content .carousel-content .body {
  background-color: white;

  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.head-content .child-content .carousel-content .body img {
  width: 100%;
  height: 20rem;
}


.head-content .banner-image {
  width: 20%;
  height: 30rem;
  /* box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.4); */
}

.head-content .banner-image.left {
  box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.4);
}

.head-content .banner-image.right {
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.4);
}





/* tutup head content */

/* middel content */
.middle-content {
  width: 100%;
  padding: 2rem 0.5rem 1rem 0.5rem;
  /* background-color: var(--main-color); */
  background-image: url(../../images/img_situs/pattern-first.jpg);

}

.category-content .box-body {
  background-color: var(--main-color-secondary);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.category-content .box-body img {
  width: 100%;
  height: 10rem;
}

.category-content a {
  text-decoration: none;
  color: white;
}

.category-content a:hover .overlay {
  transition: 0.2s;
  opacity: 1;
}

/* tutup middle content */

/* main content */
.item-content a {
  color: var(--main-color);
}

.item-content a:hover {
  transition: 0.2s;
  color: var(--main-color-bold);
}


/* tutup main content */

/* tail content */
.tail-content {
  width: 100%;
  background-color: var(--main-color-secondary);
  color: var(--main-color-bold);
  padding: 2rem 0.5rem 1rem 0.5rem;
}

/* tutup tail content */

/* detail produk main page */
.image-detail-content {
  position: relative;
}

.image-detail-content img {
  position: fixed;
  width: 18rem;
}

.order-detail-content {
  position: relative;
}

.order-detail-content .body {
  position: fixed;
  width: 25rem;
  background-color: white;

  padding: 2rem 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
}

.order-detail-content .body .ribbon {
  position: absolute;
  width: 100%;
  top: -1rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color-secondary);
  color: var(--main-color-bold);
}

/* tutup detail produk main page */
/* tutup main page --------------------------------------------------------------------- */

/* alert ------------------------------------------------------------------------------- */
.alert {
  width: fit-content;
  position: fixed;

  left: 50%;
  transform: translateX(-50%);
}

.alert-show {
  transition: 0.3s;
  top: 5rem;
}

.alert-hide {
  transition: 0.3s;
  top: -10rem;
}

/* end alert --------------------------------------------------------------------------- */


/* pagination ----------------------------------------------------------------------- */

.pagination .page-item .page-link {
  color: var(--main-color);
}

.pagination .page-item.active .page-link {
  background-color: var(--main-color-bold);
  color: white;
}

/* end pagination ------------------------------------------------------------------ */

/* responsive----------------------------------------------------------------------- */
@media (max-width: 1000px) {

  /* main page */
  /* head content */
  .head-content {
    margin-bottom: 5rem;
    height: 20rem;
    position: relative;
  }

  .head-content .banner-image {
    width: 50%;
    height: 20rem;

  }

  .head-content .child-content .carousel-content {
    padding: 0rem;
  }

  .head-content .child-content .carousel-content .body {
    padding: 0rem;
    border-radius: 0rem;
    box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.4);
  }

  .head-content .child-content .carousel-content .body img {
    height: 15rem;
  }


  .head-content .child-content {
    width: 100%;
    top: 10rem;
  }



  /* tutup head content */

  /* middle content */
  .middle-content {
    background: none;
  }

  .middle-content a .overlay {
    opacity: 1;
  }

  /* tutup middel content */

  /* tutup main page */

  /* detail produk main page */
  .image-detail-content img {
    position: static;
    width: 100%;
  }

  /* tutup detail produk main page */


  /* alert */
  .alert {
    border-radius: 0;
    width: 100%;
  }

  .alert-show {
    top: 0;
  }

  /* end alert */
}

/* tutup responsive ---------------------------------------------------------------- */